{% extends 'users/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="mb-4">About Us</h2>
            <p class="card-text">AgriSmart is dedicated to revolutionizing the agricultural industry by providing innovative solutions and resources to farmers. Our mission is to empower farmers with the tools they need to increase productivity, improve crop management, and connect with the agricultural community. We believe in the power of technology to transform agriculture and are committed to making a positive impact on the lives of farmers worldwide.</p>
            <p class="card-text"><strong>Contact us:</strong> <a href="mailto:info@agrismart.com">info@agrismart.com</a> | Phone: +123 456 7890</p>
            <p class="card-text"><strong>Follow us on:</strong></p>
            <div class="d-flex justify-content-center">
              <a href="https://facebook.com/agrismart" target="_blank" class="btn btn-primary mx-2"><i class="fab fa-facebook-f"></i> Facebook</a>
              <a href="https://twitter.com/agrismart" target="_blank" class="btn btn-info mx-2"><i class="fab fa-twitter"></i> Twitter</a>
              <a href="https://instagram.com/agrismart" target="_blank" class="btn btn-danger mx-2"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
