{% extends 'users/base.html' %}
{% load static %}

{% block title %}Add Comment{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="mb-4 text-center">Add Comment to {{ post.title }}</h1>
        <form method="post" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="form-group">
            {{ form.content }}
            <div class="invalid-feedback">
              Please provide a comment.
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Add Comment</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/form-validation.js' %}"></script>
  <script src="{% static 'js/tooltips.js' %}"></script>
{% endblock %}
