{% extends 'users/base.html' %}

{% block title %}Crop List{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="mb-4 text-center">Crop List</h1>
        {% if crops %}
          <div class="list-group">
            {% for crop in crops %}
              <a href="{% url 'crop_detail' crop.id %}" class="list-group-item list-group-item-action">
                <h5 class="mb-1 text-center">{{ crop.name }}</h5>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <p class="text-center">You have no crops listed. <a href="{% url 'add_crop' %}">Add a crop</a> to get started.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
